<%= render 'user_common', user: @user %>
<%= render 'user_menu', user: @user %>
<div class="panel panel-default">
	<div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <p>名前：<%= @user.prof_name %></p>
        <p>自己紹介：</p>
        <div class="panel panel-default">
          <div class="panel-body panel-body-pa5 review-text">
            <p class=""><%= simple_format @user.prof_greeting %></p>
          </div>
        </div>
        <p>私の三冊</p>
        <% @user.favorite_books.each do |book| %>
          <%= render 'books/list_book', book: book %>
        <% end %>
      </div>
      <% if current_user == @user %>
        <div class="col-md-2 col-xs-4">
          <%= link_to '編集', edit_user_path(@user), {class: 'btn btn-sm btn-success btn-group-justified'} %>
        </div>
      <% end %>
    </div>
  </div>
</div>