
<% if books.present? %>
  <div class="row">
    <div class="col-xs-12">
      <h3>検索結果</h3>
    </div>
  </div>
  <div class="panel panel-default">
  	<div class="panel-body">
      <% books.each do |book| %>
        <div class="row">
          <div class="col-xs-12">
            <div class="row books-item">
              <div class="col-xs-4 books-image-box">
                <%= link_to book_path(id: book.isbn_13) do %>
                  <%= image_tag book.image_url, class: 'books-image center-block' %>
                <% end %>
              </div>
              <div class="col-xs-8 books-info">
                <%= link_to book_path(id: book.isbn_13) do %>
                  <p class="books-title lead"><%= book.title%><%= " (#{book.subtitle})" if book.subtitle.present? %></p>
                <% end %>
                <p class="books-authors"><%= book.authors%></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
  	</div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <%= paginate @books %>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-xs-12">
      <h3>検索結果は０件です。</h3>
      <p>申し訳ありません、入力に間違いがないか確認してください。</p>
      <p>「 」(半角スペース)でのor検索やあいまい検索にはまだ対応できていません。</p>
      <p>通常検索では「書籍タイトル」または「著者名」で検索しています。</p>
      <p>詳細検索では「書籍タイトル」、「著者名」、「ISBN13」を組み合わせた検索が可能です。</p>
    </div>
  </div>
<% end %>
