<div class="raw">
  <div class="col-md-10 col-md-offset-1 col-xs-12">
    <div class="panel panel-default">
    	<div class="panel-body">
        <div class="row book-show-body">
          <div class="col-xs-4">
            <div class="left-view row">
              <div class="book-common-image col-xs-12">
                <img class='img-responsive center-block' src="<%= book.image_url %>" alt="" >
              </div>
              <div class="m-tb5 col-xs-12">
                <%= render 'reviews/shelf_button', book: @book %>
              </div>
              <div class="m-tb5 col-xs-12">
                <%= render 'reviews/edit_review_button', {book: @book,text: "レビュー"} %>
              </div>
              <div class="m-tb5 col-xs-12">
                <%= render 'reviews/favorite_button', book: @book %>
              </div>
            </div>
          </div>
          <div class="col-xs-8 book-info">
            <div class="row">
              <div class="col-xs-12 book-show-title-md hidden-xs">
                <h3><%= book.title%><%= " (#{book.subtitle})" if book.subtitle.present? %></h3>
              </div>
              <div class="col-xs-12 book-show-title-xs visible-xs">
                <h4><%= book.title%><%= " (#{book.subtitle})" if book.subtitle.present? %></h3>
              </div>
              <div class="col-xs-12 book-info">
                <p><%= "著者：#{book.authors}"%></p>
              </div>
              <div class="col-xs-12 book-info">
                <p><%= "出版社：#{book.publisher}"%></p>
              </div>
              <div class="col-xs-12 book-info">
                <p><%= "発売日：#{book.published_date}"%></p>
              </div>
              <div class="col-xs-12 book-info">
                <p><%= "ISBN13：#{book.isbn_13}"%></p>
              </div>
              <div class="col-xs-12 book-info">
                <p class="book-show-point"><%= "評価："%></p>
              </div>
            </div>
          </div>
          <div class="col-md-8 col-xs-12 book-info">
            <p class="book-show-p"><%= "あらすじ："%></p>
            <p class="book-show-description"><%= book.description%></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    