<div class="search">
  <div class="row">
    <div class = "col-xs-12">
      <div class="text-center">
        <%= form_tag(new_book_path, method: :get, class: 'form-inline') do %>
          <div class="form-group">
            <%= text_field_tag :keyword, @keyword, class: 'form-control', placeholder: "キーワードを入力", size: 40 %>
          </div>
          <%= submit_tag '書籍を検索', class: 'btn btn-success' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class = "col-md-8 col-md-offset-1 col-xs-12 new-books">
    <%= render 'books', books: @books %>
    <% if !@noinput && @books.blank? %>
      <div class="row">
        <div class="col-xs-12">
          <h3>検索結果は０件です。</h3>
          <p>申し訳ありませんが入力に間違いがないか確認してください。</p>
          <p>あいまい検索には対応できていません。</p>
          <p><%= link_to '詳細検索', new_book_path %>では「書籍タイトル」または「著者名」で検索しています。</p>
          <p><%= link_to '詳細検索', search_detail_books_path %>では「書籍タイトル」、「著者名」、「ISBN13」を組み合わせた検索が可能です。</p>
        </div>
      </div>
    <%end%>
  </div>
</div>