<div class="row">
  <div class="col-xs-12">
    <ul class="nav nav-tabs">
      <li class="<%= 'active' if current_page?(rank_shelf_reviews_path) %>"><%= link_to '本棚', rank_shelf_reviews_path %>
      <li class="<%= 'active' if current_page?(rank_favorite_reviews_path) %>"><%= link_to '三冊', rank_favorite_reviews_path %>
      <li class="<%= 'active' if current_page?(rank_short_reviews_path) %>"><%= link_to '10文字', rank_short_reviews_path %>
      <li class="<%= 'active' if current_page?(rank_long_reviews_path) %>"><%= link_to '書評', rank_long_reviews_path %>
    </ul>
  </div>
  <div class="col-xs-12">
    <h4><%= @text %></h4>
  </div>
</div>
<% @ranking.each do |book_id,count| %>
  <%= render 'books/list_book', book: Book.find(book_id) %>
<% end %>
